{% extends "app/main.html" %}
{% load static %}
{% load json_filters %}


{% block content %}
<div class="container mt-4">
    <div class="card">
        <div class="card-header row">
            <div class="col">
              <h5 class="card-title">All Saved Products</h5>
            </div>
            <div class="col-auto">
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addProductModal">Add Product</button>
            </div>
          </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Sr. No</th>
                <th>Product Title</th>
                <th>Size</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Brand</th>
                <th>Category</th>
                <th>Sub Category</th>
                {% for field in extra_fields %}
                <th>{{field}}</th>
                {% endfor %}
                <th>Date & Time</th>
              </tr>
            </thead>
            <tbody>
              {% for product in products %}
                  <tr>
                      <td>{{ forloop.counter }}</td>
                      <td>{{ product.name }}</td>
                      <td>{{ product.size }}</td>
                      <td>${{ product.price }}</td>
                      <td>{{ product.quantity }}</td>
                      <td>{{ product.brand }}</td>
                      <td>{{ product.category }}</td>
                      <td>{{ product.sub_category }}</td>
                      {% if extra_fields %}
                      {% with product.extra_fields|parse_json as extra_fields %}
                          {% for key, value in extra_fields.items %}
                              <td class="extra_fiel_value">{% if value %}{{ value }}{% else %}''{% endif %}</td>
                          {% endfor %}
                      {% endwith %}
                      {% endif %}
                      <td>{{ product.created_at }}</td>
                  </tr>
              {% endfor %}
              <!-- Add more rows as needed -->
            </tbody>
          </table>
        </div>
        <div>
            {% if messages %}
            {% for m in messages %}
            <p><strong>Message Alert :</strong> {{ m }}</p>
            {% endfor %}
            {% endif %}
        </div>
      </div>
    </div>
  </div>

  <!-- Modal for Adding Products -->
<div class="modal fade" id="addProductModal" tabindex="-1" role="dialog" aria-labelledby="addProductModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addProductModalLabel">Add Product</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="productForm" method="post" action="{% url 'add_product' %}" enctype="multipart/form-data">
            <!-- Include CSRF token -->
            {% csrf_token %}
            <!-- Subcategory input -->
            {{ form.as_p }}
            <!-- Submit button -->
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var extra_fiel_values = document.querySelectorAll('.extra_fiel_value');
      extra_fiel_values.forEach(function(value, index){
        if(value.textContent == 'nan'){
          value.textContent = "N/A";
        }
      });
    });
  </script>
{% endblock content %}
    